---
layout: default
---

<div class="home">

	<h1>Latest Episode</h1>

	{% for post in site.posts limit:1 %}

		<article class="post">

			<header class="post-header">
				<h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
				<p class="meta">
					<span>{{ post.date | date: "%b %-d, %Y" }}</span>
					<span>{{ post.length }}</span>
					<div class="addthis_sharing_toolbox"></div>
				</p>
			</header>

			{% if post.audio %}
				<p>
					<audio id="audio" controls="controls" preload="none" width="100%">
						<source src="{{ post.audio }}" type="audio/mpeg" />
					</audio>
				</p>
			{% endif %}

			{{ post.content }}

		</article>

	{% endfor %}

	<h1>Recent Episodes</h1>

	{% for post in site.posts offset:1 limit:9 %}

		<ul class="posts">
			<li>
				<h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
				<div class="meta">
					<span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
					<span class="post-time">{{ post.time }}</span>
				</div>
			</li>
		</ul>

	{% endfor %}

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
